/* This is the navigation */

.topnav {
  background-color: white;
  width: 100%;
  text-align: center;
  position: float;
  top: 0;
  height: 42px;
  padding-top: 12px;
  margin-top: -10px;
}

.topnav a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Vollkorn', serif;
  
}

.topnav a:hover {
  color:  #ca9462;
  transition: 1s;
  font-size: 25px;
}

/* the content */
.Content {
	padding-right: 10px;
	padding-left: 10px;
}

body {
	padding: 0;
	margin: 0;
}


.head-icon {
	color: white;
	font-size: 15px;
	padding: 10px;
}

.head-icons {
	color: white;
	font-size: 15px;
	word-spacing: 1cm;
}


.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;	  
}

.horizontal {
	width: 80%;
}

.opacity {
	opacity: 0.85;
}

.h3-hair {
	color:DarkGoldenRod;
}
	
	
.top-background {
	background-color: #eab27e;
	margin-bottom: 10px;
}

.body-color {
	background-color: #f7ddbe;
	}

.center {
	text-align: center;
}

ul {
	list-style-type: none;
  }

.columns {
	columns: 2 auto;
}

.flex {
	display: flex;	
}

figcaption{
	text-align: center;
}

.inpage-nav {
	color: black;
	text-decoration: none;
	font-size: 18px;
}
#SheaBeauty-text {
	color: black;
	text-decoration: none;
	font-size: 30px;
}
#inpage-nav {
		color: white;
		text-decoration: none;
		font-size: 16px;
}

header {
	position: float;
	width: 100%;
	margin-top: -16px;
	background-color:#37170a;
}

.border {
	border-radius: 50%; 
}

.border-icons {
border: 2px solid grey;
width: 99.9%;
height: 250px;
display: flex;
justify-content:space-between;
}

.h3-skin { 
color: DarkOliveGreen;
}

.plant-font {
	font-size: 50px;
}



/* welcome text */
.banner {
	color:#89481e;
	font-size: 16px;
	border-left: solid;
	padding-left: 5px;
}

.side {
	display: flex; 
	align-items: center; 
	justify-content: center;
}


/* Icons */

.icons {
	font-size: 20px;
	color: black;
}

.image {
	border-radius: 50%;
	text-align: center;
}

.contact-icons {
	color: #37170a;
	font-size: 30px;
}

h4 {
	font-size: 14px;
	text-align: center;
}

/* Fonts */

.cantata {
	font-family: 'Cantata One', serif;
}

h1 {
	font-family: 'Prata', serif;
	text-align: center;
}

figcaption {
	font-family: 'Vollkorn', serif;
}

h2 {
	font-family: 'Vollkorn', serif;
}

.h3 {
	font-family: 'Vollkorn', serif;
	color: white;
}

h3 {
	font-family: 'Vollkorn', serif;
}

p {
	font-family: 'DM Sans', sans-serif;
}

h4 {
	font-family: 'DM Sans', sans-serif;
}

.font {
	color: black;
}

li {
	font-family: 'DM Sans', sans-serif;
}

.script {
	font-family: 'Dancing Script', cursive; 
	font-size: 30px;
}

.nav-text {
	text-decoration: none;
	color: black;
}


/* Buttons */

.Sub-button {
	border: thin solid #37170a;
	border-radius: 3px;
	height: 23px;
	background-color: #37170a;
	color: white;
	cursor: pointer;
}

.button {
	border: 5px solid #ca9462 ;
	background-color: whitesmoke;
	border-radius: 10px;
	text-align: center;
}

.image-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.email-button {
	background-color: #e3c19c;
}

.Shop-button {
	border: thin solid #37170a;
	background-color: #37170a;
	color: white;
	width: 200px;
	height: 50px;
	border-radius: 1px;
	cursor: pointer;
	transition: 2s;
}

.Shop-button a {
	text-decoration: none;
	color: white;
}

.Shop-button a:hover {
	color:  #ca9462;
	transition: 1s;
	font-size: 10px;
  }

.products {
	border: thin solid grey;
	background-color: grey;
	color: black;
	width: 200px;
	height: 50px;
	text-decoration: none;
	border-radius: 1px;
}


.Wish-button {
	border: thin solid #37170a;
	background-color: #37170a;
	color: white;
	width: 100px;
	height: 50px;
	text-decoration: none;
	border-radius: 1px;
}

.Buy-button {
border: thin solid #eab27e;
background-color: #eab27e;
color: white;
font-size: 20px;
width: 200px;
height: 50px;
border-radius: 6px;
}

/* Form */

form {
border: solid;
color: #37170a;
border-width: thin; 
border-radius: 15px; 
width: 450px;
height: 500px;
padding: 20px;
background-color: burlywood;
}

.form-shadow {
	box-shadow: 3px 4px 3px 4px #37170a;
}

input {
	padding: 3px 35px;
	border-radius: 2px;
}

/* Text over image*/

.container {
	position: relative;
	text-align: center;
	color: white;
}
	
.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-shadow: 1.5px 1.5px 0px #37170a;
	  }

/* footer */

footer {
	position: float;
    bottom: 0;
	padding-bottom: 4px;
    width: 100%;
    background-color: #b98b64;
    color: black;
    text-align: center;
}

.footer-columns {
	display: inline-block;
	margin-left: 30px;
	color: black;
}

.footer-section {
	background-color: #e3c19c;
}

.bottom-text {
	text-align: left;
	margin: 15px;
}

.footer-text {
	color: black;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.36;
}



