/* This is the navigation */

.topnav {
  background-color: white;
  width: 100%;
  text-align: center;
  position: float;
  top: 0;
  height: 42px;
  padding-top: 12px;
  margin-top: -10px;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Vollkorn', serif;
  margin-bottom: 50px;
}

.topnav a:hover {
  color:  #ca9462;
}


/* the content */
.horizontal {
	width: 80%;
}
.opacity {
	opacity: 0.8;
}

.h3-hair{
	color:DarkGoldenRod;
}
	
	
.top-background {
	background-color: #eab27e;
}

.body-color{
	background-color: #f7ddbe;
	}

.center {
	text-align: center;
}

.side {
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.margin{
	margin-left: 5px;	
}

.columns {
	columns: 2 auto;
}

.flex {
	display: flex;	
}

figcaption{
	text-align: center;
}

.bottom-text {
	text-align: left;
	margin: 15px; 
	line-height: 1.6;
}

.inpage-nav {
	color: black;
	text-decoration: none;
	font-size: 18px;
}

#inpage-nav {
		color: white;
		text-decoration: none;
		font-size: 16px;
}

.picture {
	background-color: black;
}

.border{
	border-radius: 50%; 
}

.border-icons {
border: 2px solid grey;
width: 80%;
height: 200px;
marging-left: 10px;
}

.h3-skin { 
color: DarkOliveGreen;
}

.plant-font{
	font-size: 50px;
}



/* welcome text */
.banner {
	color:#89481e;
	font-size: 16px;
	border-left: solid;
}


/* Icons */

.fab {
font-size: 25px;
color: black;
}

.fas {
	font-size: 30px;
	color: white;
}

.image {
	border-radius: 50%;
	text-align: center;
}



h4 {
	font-size: 14px;
	text-align: center;
}

/* Fonts */

.cantata {
	font-family: 'Cantata One', serif;
}

h1 {
	font-family: 'Prata', serif;
	text-align: center;
}

figcaption {
	font-family: 'Vollkorn', serif;
}


h2 {
	font-family: 'Vollkorn', serif;
}

p {
	font-family: 'DM Sans', sans-serif;
}

h4 {
	font-family: 'DM Sans', sans-serif;
}
.font {
	color: black;
}

li {
	font-family: 'DM Sans', sans-serif;
}


.script{
	font-family: 'Dancing Script', cursive; 
	font-size: 30px;
}

/* Buttons */

.button {
	border: 5px solid #ca9462 ;
	background-color: whitesmoke;
	border-radius: 10px;
	text-align: center;
}

.email-button{
	background-color: #e3c19c;
}
.Shop-button {
	border: thin solid grey;
	text: Black;
	width: 200px;
	height: 50px;
	box-align: center;
}

.Buy-button {
border: thin solid #eab27e;
background-color: #eab27e;
text: white;
font-size: 20px;
width: 200px;
height: 50px;
}



input {
	border: 5px solid ;
	background-color: whitesmoke;
	color: #ca9462;
	border-radius: 10px;
	text-align: center;
}

/* Form */
form {
border: solid;
border-width: thin; 
border-radius: 15px; 
width: 450px;
margin-left: 10px;
padding: 10px;
background-color: burlywood;
}

/* Text over image*/

.container {
	position: relative;
	text-align: center;
	color: white;
}
	
.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }
	  



/* footer */

footer {
	position: float;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-columns {
	display: inline-block;
	margin-left: 30px;
	color: black;
}

.footer-section {
	background-color: #e3c19c;
}
